.App {
  display: flex;
  font-family: monospace;
  flex-direction: column;
}

#textblock {
  height: 17vh;
}

button {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  border-radius: 5px;
  width: 200px;
  height: 100px;
  
}

button:hover {
  background-color: #5dcf61;
}

button:active {
  margin-top: 10px;
}

.Start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

